{%extends 'admin/base_site.html'%}
{%block content%}
<h1>THỐNG KÊ KHÓA HỌC</h1>
<ul>
    {%for item in stats%}
        <li><strong>{{item.name}}</strong>: {{item.count}}</li>
    {%endfor%}
</ul>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  window.onload = () =>{
  let values = [];
  let labels = [];
  {%for item in stats%}
        values.push({{item.count}})
        labels.push('{{item.name}}')
  {%endfor%}

  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Count Course',
        data: values,
        borderWidth: 1,
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  }
</script>
{%endblock%}